body {
  font-family: "Raleway", sans-serif;
  margin-top: 40px;
}

h1 {
    font-size: 3.5em;
    margin-bottom: 0;
}

.content:before {
    content: "";
    display: block;
    padding: 0;
    padding-top: 100%;
}

.content {
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px 0;
    position: relative;
    transition: transform 0.5s;
}

.content span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    transition: opacity 0.5s;
}

.content:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.content:hover span {
    opacity: 0;
}

#add {
    background-color: rgb(83, 165, 62);
    width: fit-content;
    height: fit-content;
    padding: 8px 30px;
    font-size: 16px;
    text-align: center;
    border-radius: 30px;
    border: 1px solid transparent;
    text-decoration: none;
    color: white;
    transition: transform 0.2s ease-in-out;
    float: right;
    margin-top: 20px;
}

#add:hover {
    cursor: pointer;
    /* border: 1px solid black; */
    transform: scale(1.03);
}


#cancel {
    background-color: rgb(218, 100, 3);
    width: fit-content;
    height: fit-content;
    padding: 8px 30px;
    font-size: 16px;
    text-align: center;
    border-radius: 30px;
    border: 1px solid transparent;
    text-decoration: none;
    color: white;
    transition: transform 0.2s ease-in-out;
    float: right;
    margin-top: 20px;
}

#cancel:hover {
    cursor: pointer;
    /* border: 1px solid black; */
    transform: scale(1.03);
}

form {
    width: 100%;
}

.addContainer {
    max-width: 800px;
}